body, html {
    padding: 0;
    margin: 0;
    height: 100%;
}

.container {
    height: 100%;
}

.chatrow {
    height: 70%;
}

.chat {
    text-align: left;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 10px;
    background: #fff;
    height: 100%;
    border: 1px solid #ACD8F0;
    overflow: auto;
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    },
    to {
        opacity: 1;
    }
}

.message {
    -webkit-animation: fadein .7s ease-in-out;
    -webkit-animation-fill-mode: forwards;
}

.message.mine {
    text-align: right;
    opacity: .6;
}

.message.mine.sent {
    opacity: 1;
}

.time {
    color: #999;
    font-size: .7em;
    display: block;
}

.buttons {
    margin: 10px 0;
}